[Desktop Entry]
Name=Qt Media Player
Exec=qt-media-player -style touchscreen.css
Type=Application
Icon=applications-multimedia
Categories=Qt;Multimedia;Player;Audio;Music;AudioVideo;
